/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
.nav {
	position: fixed;
	margin: 10px;
	top: 0;
	left: 4%;
	right: 4%;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(183, 183, 183, 0.094);
	display: flex;
	padding: 20px;
	gap: 10px;
	background-color: rgba(245, 245, 245, 0.6);
	backdrop-filter: blur(10px);
	font-family: "Assistant", sans-serif;
	font-weight: 200;
	z-index: 99;
	}
.nav-link:hover {
	color: #7f7f7f;
	}
nav a {
	text-decoration: none;     
	color: black;                    
  }
  nav a:hover {
	color: #7f7f7f;              
  }
  nav a:visited {
	color: black;              
  }
	.nav-spacer {
	flex-grow: 1;
	}
body {
	font-family: "Montserrat", sans-serif;
	font-variation-settings: "wght" 200;
	background: rgb(250,255,236);
	background: radial-gradient(circle, rgb(245, 252, 225) 0%, rgba(247,239,243,1) 56%, rgb(147, 212, 255) 100%);
	background-size: 100vw 100vh;
	display: flex;
	align-items: center;
	justify-content: safe center;
	width: 100vw;
	height: 110vh;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	padding: 20px;
	z-index:10
}


.hidden {
	display: none;
}

h1 {
	margin: 20px;
}
h2 {
	margin: 20px;
}
p {
	margin: 20px;
	font-size: 12px;
	padding: 10px;
}
ul {
	text-align: left;
	margin: 20px;
}
li {
	margin: 20px;
}
.panel-child {
	height: 80vh;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.8s cubic-bezier(0.2,0,0.1,1);
    color: rgb(209, 209, 209);
    transform: scale(0.9);
	align-items: center;
	justify-content: safe center;
}
.inner-panel:hover {
    flex-grow: 10;
    color: black;
    filter: blur(0px);
    box-shadow: 0 0 20px rgb(200, 200, 200);
    transform: scale(1);
}
.inner-panel {
    box-shadow: 0 0 30px rgb(239, 239, 239);
    border-radius: 12px;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.8s cubic-bezier(0.2,0,0.1,1);
    overflow-y: auto;
    transform: scale(0.9);
}
.title {
    background-color: white;
    display: flex;
	border-radius: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(239, 239, 239);
    transition: box-shadow 0.8s cubic-bezier(0.2,0,0.1,1), height 0.8s cubic-bezier(0.2,0,0.1,1);
    height: 100%;
    margin-bottom: 1em;
	border: 0;
}
.scroll-content {
    overflow-y: auto;
    padding: 5px;
}
button {
	display: flex;
	padding: 20px 60px;
	border-radius: 12px;
	border: 0;
	background-color: rgba(249, 249, 249, 0.2);
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 20px rgba(103, 103, 103, 0.15);
	color: rgb(144, 111, 132);
	font-family: 36px "Assistant", sans-serif;
	font-weight: 500;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	transition: opacity .6s ease;
	opacity: 1;
}
button:hover {
	padding:  20px 80px;
	transition: .6s ease;
	background-color: rgba(249, 249, 249, 0.5);
}

.button2 {
	display: flex;
	padding: 20px 140px;
	border-radius: 12px;
	border: 0;
	background-color: rgba(249, 249, 249, 0.755);
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 20px rgba(103, 103, 103, 0.15);
	color: rgb(100, 92, 156);
	font-family: 24px "Assistant", sans-serif;
	font-weight: 500;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 12px;
}
.button2:hover {
    padding: 20px 140px;
	transition: 0.8s cubic-bezier(0.2,0,0.1,1);
	background-color: rgba(249, 249, 249, 1);

}
#mainButton.open {
	opacity: 0.6;
}